.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  position: absolute;
  width: 292px;
  height: 1134px;
  left: 0px;
  top: 0px;

  background: var(--bg-container);

  font-family: var(--primary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 37px;
}

.navbar-logo {
  margin: 2rem;
}

.menu-filter {
  color: var(--s-text-color);

  display: flex;
  flex-direction: column;

  margin: 5rem 1rem 5rem;
}

.menu-filter label {
  margin: 1rem;
}

.waiter-nav-links {
  color: var(--f-text-color);

  display: flex;
  flex-direction: column;

  margin: 5rem 1rem 5rem;
  width: 60%;
}

.waiter-nav-links a {
  margin: 1rem;
}

.home-button {
  margin-top: 2rem;
  background: none;
  border: none;
}

/*Estilos para la sección del menú que se encuentra dentro del componente Navbar*/
.menu-select {
  width: 800px;
  height: 200px;
  margin: 10rem 20rem;
}

.menu-select input {
    display: none;
}

.menu-content {
  left: -890px;
  top: 180px;
  width: 900px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 21px 21px;

  overflow: scroll;
}
