
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playfair+Display&display=swap');

:root {

  --primary-font: 'Playfair Display', serif;
  --secondary-font: 'Montserrat', sans-serif;

  --f-text-color: #AFC4D0;
  --s-text-color: #F0C3A4;

  --f-notification-color: #BF7656;
  --s-notification-color: #AFC4D0;

  --bg-color: #0C0F14;
  --bg-container: #171D26;
}


